/***** GENERAL *****/

html {
	position: relative;
	min-height: 100%;
}

body {
	background: #ddd;
	min-height: 100vh;
	overflow-y: scroll;
}

h1,h2,h3,h4,h5,h6 {
	color: steelblue;
}

h2 {
  padding-bottom: 20px;
  border-bottom: 3px solid #ddd;
}

img {
	max-width: 100%;
}


/***** MAIN *****/

.header-title {
	margin-bottom: 30px;
}

.main-body {
	margin-bottom: 50px;
}


/***** ABOUT *****/

.main-section {
	display: inline-block;
	width: 100%;
	background: #fff;
	border: 1px solid #999;
	padding: 20px;
	margin-bottom: 20px;
}

.auth-image {
	float: left;
	margin: 0 20px 20px 0;
}

.cage-wrapper {
	display: inline-block;
	margin-bottom: 83px;
	width: 100%;
}

.cage {
	text-align: center;
	width: 100%;
}

.nick {
	max-width: 100%;
	animation: spin 1s linear infinite;
	animation-play-state: paused;
}

.nick:hover {
	animation-play-state: running;
}

@keyframes spin {
  100% {transform: rotate(1turn); }
}


/***** PORTFOLIO *****/

.work {
  position: relative;
  float: left;
  width: 48%;
  margin: 20px 0 25px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 2%;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}


 /***** CONTACT *****/

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}

/***** SIDEBAR/SOCIAL MEDIA *****/

.sidebar {
	display: inline-block;
	width: 100%;
	margin-bottom: 100px;
	background: #fff;
	border: 1px solid #999;
	padding: 20px;
}

.social {
	width: 32%;
}



/***** FOOTER *****/

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: steelblue;
	color: #fff;
}

footer p {
	text-align: center;
	margin: 20px;
}


@media only screen and (max-width: 640px) {

	.auth-image {
		width: 100%;
		margin: 0 0 20px;
	}
}